<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Resultado</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        table {
            border: 1px solid #cccccc;
        }

        td {
            padding: 12px;
        }
        a.link{
            color:cornsilk;
        }
    </style>
</head>

<body>
    <h1>Resultado</h1>
    <table class="table table-striped">
        <thead>
    
            <tr>
                <th>Matricula</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Módulo</th>
                <!-- <th>Preferências</th> -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${aluno}">
                <td th:text="${aluno.matricula}">
                <td th:text="${aluno.nome}">    
                <td th:text="${aluno.email}">
                <td th:text="${aluno.modulo}"> 
                <!-- <td th:text="${aluno.preferencia}"> -->
                <td><a th:href="@{'/aluno/atualizar/' + ${aluno.matricula}}">Atualizar</a></td>
                <td><a th:href="@{'/aluno/excluir/' + ${aluno.matricula}}">Excluir</a></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary"><a href="/aluno/form" class="link">Novo Aluno</a> </button>
    <!-- <p th:text="'id: ' + ${greeting.id}">
    <p th:text="'content: ' + ${greeting.content}">
    <a href="/greeting">Submit another message</a> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>